allow hal_camera_default camera_data_file:sock_file write;
allow hal_camera_default default_android_hwservice:hwservice_manager find;
allow hal_camera_default device:chr_file { read write };

